extends layout

block addStyle
  link(rel='stylesheet', href='stylesheets/style.css')
 
block content
       
  body
  br
  br
  form(method='get', action='/newch')
     button(type='submit',class='btn btn-default orange-circle-button')
        | Record
        br
        span.orange-circle-greater-than 
  br
  br
  br  
   
  form(method='get', action='/allch')
     button(type='submit',class='btn btn-default green-circle-button')
        | Subscribe
        span.green-circle-greater-than  
        
             


