doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='css/style.css')
    title live streaming
  body
    span.link1
      .header
       div(align='center')   
         table(width='100%', cellspacing='25')
           tr(style='font-size:15px;font-weight:bold')
             
             td(align='center', width='15%')
               a(href='/') Home
             td(align='center', width='15%')
               a(href='/newCh') New Channel
             td(align='center', width='15%')
               a(href='/allCh') All channels 
             td(align='center', width='20%')
               a(href='/user/signin') Signin
             td(align='center', width='20%')
               a(href='/user/signup') Signup
             td(align='center', width='20%')
              a(href="/user/logout") logout 
   .Main
      .tag(style='height:400px; width:400px; margin: 100px 50px 50px 80px')
        span(style='height:300px; width:400px')
          h1
            | Welcome 
            br
            |  Take real world experience
            br
            | Like never before.
