//- doctype html
//- html
//-   head
//-     link(rel='stylesheet', type='text/css', href='css/style.css')
//-     title live streaming
//-   body
//-     span.link1
//-       .header
//-        div(align='center')   
//-          table(width='100%', cellspacing='25')
//-            tr(style='font-size:15px;font-weight:bold')
             
//-              td(align='center', width='15%')
//-                a(href='/') Home
//-              td(align='center', width='15%')
//-                a(href='/newCh') New Channel
//-              td(align='center', width='15%')
//-                a(href='/allCh') All channels 
//-              td(align='center', width='20%')
//-                a(href='/user/signin') Signin
//-              td(align='center', width='20%')
//-                a(href='/user/signup') Signup
//-              td(align='center', width='20%')
//-               a(href="/user/logout") logout

//-     - if (msg.length > 0) { 
//-         div(align="center" style="color: red")
//-           p= msg 
//-     - }

//-     div(align='center')
//-           table
//-             tr
//-               td
//-                 form(action='/newch', method='post', name='newchannel')
//-                   table(cellspacing='15')
//-                     tr
//-                       td(colspan='2', align='center')
//-                         h1(style='color:black') Create your new channel
//-                     tr
//-                       td(colspan='2',align='center')
//-                         input(type='text', name='channelName', size='27', placeholder='name', style='color:gray')
//-                     tr
//-                       td(colspan='2',align='center')
//-                         input(type='token', name='token', size='27', placeholder='token', style='color:gray')
                    
//-                     tr
//-                       td(colspan='2', align='center')
//-                         input(type='submit', value='submit', style='background-color:#B0C4DE;color:black;height:35px;width:70px; border-radius: 25px')
doctype html
html
  style.
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    input[type=submit] {
    width: 100%;
    background-color: #483D8B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    input[type=submit]:hover {
    background-color: #483D8B;
    }
    div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
    }
    div.ex1 {
      width:500px;
      margin: auto;
      }
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Live Stream
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/allch') All Channels
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                - if (user) { 
                  p= user.user_id
                - }
                - else
                  | account
                -
                span.caret
              ul.dropdown-menu
                
                li
                  a(href='/newch') new_channel
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li
                  a(href='/logout') logout
  body
    br
    br
    h3(style="text-align:center;color:#483D8B") Create your own channel
    br
    .ex1
      form(action='/newch', method='post', name='newchannel')
        label(for='fname') name
        input#fname(type='text', name='channelName')
        label(for='lname') token
        input#lname(type='text', name='token')
        
        
        input(type='submit', value='Start Broadcasting')  