
doctype html
html
  style.
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    .ex4 {
    width: 100%;
    background-color: #483D8B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    input[type=submit]:hover {
    background-color: #483D8B;
    }
    div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
    }
    div.ex1 {
      width:600px;
      margin: auto;
      }
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Live Stream
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/allch') All Channels
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | account
                span.caret
              ul.dropdown-menu
                
                li
                  a(href='/newch') new_channel
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li
                  a(href='/logout') logout
  body
    br
    br
    h3(style="text-align:center;color:#483D8B") Create your own channel
    br
    .ex1
      form(action='/newch', method='post', name='newchannel')
        label(for='fname') name
        input#fname(type='text', name='channelName')
        label(for='lname') token
        input#lname(type='text', name='token')
        
        
        input(class='ex4',type='submit', value='Start Broadcasting')  