doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='css/style.css')
    title live streaming
  body
    span.link1
      .header
       div(align='center')   
         table(width='100%', cellspacing='25')
           tr(style='font-size:15px;font-weight:bold')
             
             td(align='center', width='15%')
               a(href='/') Home
             td(align='center', width='15%')
               a(href='/newCh') New Channel
             td(align='center', width='15%')
               a(href='/allCh') All channels 
             td(align='center', width='20%')
               a(href='/user/signin') Signin
             td(align='center', width='20%')
               a(href='/user/signup') Signup
             td(align='center', width='20%')
              a(href="/user/logout") logout
      br
      br
      br
      
      - if (msg.length > 0) { 
        div(align="center" style="color: red")
          p= msg 
      - }

    div(align='center')
      table(style=' solid #d9d9d9')
        tr
          td
            form(action='/user/signup', method='post')
              table(cellspacing='15')
                tr
                  td(align='center')
                    h2(style='color:black') Please Register to Continue
                tr
                  td
                    input(type='text', name='user_id', size='40', placeholder='User	ID', style='color:gray')
                tr
                  td
                    input(type='password', name='password', size='40', placeholder='Password', style='color:gray')
                tr
                  td
                    input(type='password', name='cnfpassword', size='40', placeholder='Confirm Password', style='color:gray')
                tr
                  td(align='center')
                    input(type='submit', value='SUBMIT', style='backgroundcolor:#B0C4DE;color:black;height:45px;width:100px; border-radius: 25px')
    br
    br
