extends layout

block content
  div(style='text-align: center')
  
    img#play(src='', style='width: 400px; height: 320px')
    br
  script(src="/js/pako.js")
  script(src='/js/visualizer.js')